/node_modules
/exersices/55 - Face Detection Censorship/node_modules
/exersices/55 - Face Detection Censorship/dist
/exersices/55 - Face Detection Censorship/.parcel-cache
/exersices/55 - Face Detection Censorship/.cache
/exersices/57 - Shopping List/.cache
/exersices/57 - Shopping List/dist/
/exersices/57 - Shopping List/.parcel-cache
/exersices/58 - Gallery/images
/exersices/58 - Gallery/.cache
/exersices/58 - Gallery/dist
/exersices/58 - Gallery/.parcel-cache


